<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<h3>Welcome {{emailId}}!</h3>
<h1 align="center">Cart Items</h1>

<div class="container">
    <div *ngIf="cartItems && cartItems.length > 0; else emptyCart">
        <table class="table text-center table-bordered table-sm">
            <thead>
                <tr>
                    <th class="bg-info text-white text-center">Product Name</th>
                    <th class="bg-info text-white text-center">Price</th>
                    <th class="bg-info text-white text-center">Description</th>
                    <th class="bg-info text-white text-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of cartItems;let i = index">
                    <td>{{product.pName}}</td>
                    <td>{{product.price | currency:'INR':'symbol':'1.2-2'}}</td>
                    <td>{{product.description}}</td>

                    <td> <button type="button" class="btn btn-danger" (click)="onDelete(i)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button></td>
                </tr>
                <tr>
                    <td colspan="2" align="right"><b>Total</b></td>
                    <td>{{ calculateTotal() | currency:'INR':'symbol':'1.2-2'}}</td>
                </tr>
                <tr>
                    <td colspan="3" align="right"><button class="btn btn-primary"
                            (click)="onPurchase()">Purchase</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #emptyCart>
        <h1>
            <p class="text-center">No items in the cart.</p>
        </h1>
    </ng-template>
</div>