.container {
  padding: 100px;
}

.card {
  align-items: bottom;
  height: 60vh;
  margin: 25px;
  padding: 20px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.center img {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  height: 250px;
  width: 250px;
  margin: 20px 0px;
}

.card-table {
  padding: 100px;
}