<div class="Log"
  style="background-image: url('https://wallpaperaccess.com/full/1567736.png'); background-repeat: no-repeat; background-size: cover;">
  <div class="wrapper">
    <div class="title">
      CRAFTEDCHARM
    </div><br /><br />
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

      <div class="field">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="form.name" required minlength="3"
          maxlength="20" #name="ngModel" />
        <div class="alert-danger" *ngIf="f.submitted && name.invalid">
          <div *ngIf="name.errors?.['required']">Name is required</div>
        </div>
      </div>

      <div class="field">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="form.email" required #email="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && email.invalid">Email is required!</div>
      </div>

      <div class="field">
        <label for="phone">Phone</label>
        <input type="number" class="form-control" name="phone" [(ngModel)]="form.phone" required minlength="10"
          maxlength="10" #phone="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && phone.invalid">
          <div *ngIf="phone.errors?.['required']">Phone is required</div>
        </div>
      </div>

      <div class="field">
        <input type="number" class="form-control" name="amount" [(ngModel)]="form.amount" required #amount="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && amount.invalid">
          <div *ngIf="form.amount && form.amount.errors?.required">Amount is required</div>
        </div>
      </div><br /><br />

      <div class="form-group">
        <button class="btn btn-primary btn-block">Pay</button>
      </div>
    </form>
  </div>
</div>