<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                <b>Welcome to [CraftedCharm], your gateway to the vibrant world of handlooms and handicrafts!</b><br />
                At CraftedCharm, we celebrate the rich heritage, craftsmanship, and cultural diversity that define handlooms and 
                handicrafts from around the world. Our platform is a labor of love, born out of a deep appreciation for the artistry
                 and tradition that go into creating each piece by hand. 

               <b>Our Journey:</b>

           CraftedCharm was founded with a vision to promote and preserve the age-old traditions of handloom weaving and
            traditional crafts. Our journey began with a simple yet profound goal – to connect artisans and craftsmen with a 
            global audience, fostering a deeper understanding and appreciation for their craft.
            </p>
        </div>
    </div>
</body>

