<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  
<h3>Welcome {{emailId}}!</h3>
<h2 align="center">Customer List</h2>

<div align="center" class="container">
  <table class="table table-hover table-striped table-sm table-bordered">
    <thead>
      <tr align="center">
        <th class="bg-info text-white">CustomerId</th>
        <th class="bg-info text-white">CustomerName</th>
        <th class="bg-info text-white">Address</th>
        <th class="bg-info text-white">Gender</th>
        <th class="bg-info text-white">State</th>
        <th class="bg-info text-white">Email-Id</th>
        <th class="bg-info text-white">Mobile</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{customer.customerId}}</td>
        <td>{{customer.firstName | gender:customer.gender |uppercase }}</td>
        <td>{{customer.address }}</td>
        <td>{{customer.gender | lowercase}}</td>
        <td>{{customer.state}}</td>
        <td>{{customer.emailAddress}}</td>
        <td align="center">{{customer.phoneNumber}}</td>
    </tbody>
  </table>
</div>