.body {
  background-image: url("http://4.bp.blogspot.com/-863YvZW-Ons/Tr0Dp5Y6w0I/AAAAAAAAOrg/hxvqBPeQxMM/s1600/fendiss2011WEB.jpg");
  background-repeat: no-repeat;
  background-position: left;
}

.row {
  margin: 10vh;
  padding-right: 40px;
  padding-left: 60px;
  width: 120%;
}

h3 {
  background-color: #2c2c31;
  color: white;
  padding: 10px;
  margin: 0;
}

.container {
  padding: 20px;
}

.col-md-4 {
  margin-bottom: 20px;
}

.card {
  background-color: white;
}

.original-price {
  text-decoration: line-through;
  color: red;
}

.discounted-price {
  color: green;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.add-to-cart-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #0e0d0d;
}