<link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">

<h2 align="center">Product List</h2>

<div align="center" class="container">
<table class="table table-hover table-striped table-sm table-bordered">
    <thead>
        <tr align="center">
            <th class="bg-info text-white">ProductId</th>
            <th class="bg-info text-white">ProductName</th>
            <th class="bg-info text-white">Price</th>
            <th class="bg-info text-white">Quantity</th>
            <th class="bg-info text-white">CategoryName</th>
            <th class="bg-info text-white" align="text-center" colspan="2">Actions</th>
        </tr>
    </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.productId}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.price | currency:'INR'}}</td>
                <td align="center">{{product.quantityAvailable}}</td>
                <td align="center">{{product.category.categoryName}}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="deleteProduct(product)" >
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="editProduct(product)" >
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                  </td>

            </tr>
        </tbody>
    </table>
</div>
 
<div class="container"> 
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><b>Update Product</b></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <table align="center">
              <tr>
                  <td>ProductId</td>
                  <td><input type="text" name="productId" [(ngModel)]="editPro.productId" readonly  /></td>
              </tr>
              <tr>
                  <td>ProductName</td>
                  <td><input type="text" name="productName" [(ngModel)]="editPro.productName" /></td>
              </tr>
              <tr>
                  <td>Price</td>
                  <td><input type="text" name="price"  [(ngModel)]="editPro.price" /></td>
              </tr>
              <tr>
                  <td>Quantity</td>
                  <td><input type="text" name="quantityAvailable"  [(ngModel)]="editPro.quantityAvailable" /></td>
              </tr>
              <tr>
                  <td>Category</td>
                  <td>
                      <select name="category"  [(ngModel)]="editPro.category.categoryId" >
                          <option value="" selected>Select Category</option>
                          <option value="{{category.categoryId}}" *ngFor="let category of categories">{{category.categoryName}}</option>
                      </select>
                  </td>
              </tr>
          </table>
        </div>

        <div class="modal-footer">
          <button type="button" (click)="updateProduct()" class="btn btn-default" data-dismiss="modal">Update Product</button>
        </div>
      </div>        
    </div>
  </div>    
</div>

