<div class="body">
  <div class="box-container">
    <div class="box" (click)="navigateToCustomerList()">
      <div class="image">
        <img
          src="https://clipart-library.com/newhp/kissclipart-customer-report-icon-clipart-computer-icons-custom-f5460cdf7625adfb.png"
          alt="CustomerList">
      </div>
      <div class="content">
        <h3>CustomerList</h3>
        <p><b>Customer List for the Admin Panel...</b></p>
      </div>
    </div>

    <div class="box" (click)="navigateToCategoriesList()">
      <div class="image">
        <img src="https://cdn2.iconfinder.com/data/icons/digital-and-internet-marketing-2-1/50/93-1024.png"
          alt="CategoriesList">
      </div>
      <div class="content">
        <h3>Categories</h3>
        <p><b>Categories List for the Admin Panel...</b></p>
      </div>
    </div>

    <div class="box" (click)="navigateToOrdersList()">
      <div class="image">
        <img src="https://cdn3.iconfinder.com/data/icons/business-marketing/500/business_marketing-13-512.png"
          alt="OrdersList">
      </div>
      <div class="content">
        <h3>Orders</h3>
        <p><b>Orders List for the Admin Panel...</b></p>
      </div>
    </div>

    <div class="box" (click)="navigateToProductsList()">
      <div class="image">
        <img src="https://storage.needpix.com/rsynced_images/list-2828012_1280.png" alt="ProductsList">
      </div>
      <div class="content">
        <h3>Products</h3>
        <p><b>Products list for the Admin Panel...</b></p>
      </div>
    </div>
  </div>
</div>