<div class="Log"
  style="background-image: url('https://wallpaperaccess.com/full/1567736.png'); background-repeat: no-repeat; background-size: cover;">
  <div class="wrapper">
    <div class="title">
      CRAFTEDCHARM
    </div><br /><br />
    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>

      <div class="field">
        <input type="text" [(ngModel)]="emailAddress" name="emailAddress" required minlength="2" maxlength="30"
          pattern="[a-zA-Z0-9._%+-]+@gmail\.com$" (blur)="validateEmail()" #emailField="ngModel">
        <label>Email Address</label>
        <div *ngIf="emailField.touched && emailField.invalid" class="error-message" style="color: red;">
          <div *ngIf="emailField.hasError('required')">Please enter an email address.</div>
          <div *ngIf="emailField.hasError('minlength')">Please enter at least 2 characters.</div>
          <div *ngIf="emailField.hasError('maxlength')">Please enter no more than 30 characters.</div>
          <div *ngIf="emailField.hasError('pattern') && !emailField.hasError('required')">Please enter a valid Gmail
            address.</div>
        </div>
      </div><br />

      <div class="field">
        <input type="password" [(ngModel)]="password" name="password" required minlength="8" maxlength="8"
          (blur)="validatePassword()" #passwordField="ngModel"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%?&])[A-Za-z\d@$!%?&]{8}$">

        <label>Password</label>
        <div *ngIf="passwordField.touched && passwordField.invalid" class="error-message" style="color: red;">
          <div *ngIf="passwordField.hasError('required')">Please enter the password.</div>
          <div *ngIf="passwordField.hasError('minlength')">Password must contain at least 8 characters.</div>
          <div *ngIf="passwordField.hasError('maxlength')">Password must not exceed 8 characters.</div>
          <div *ngIf="passwordField.hasError('pattern')">Password must contain 1 special character, 1 digit, 1
            uppercase, and 1 lowercase.</div>
        </div>
      </div><br /><br />

      <div class="content">
        <div class="checkbox">
          <input type="checkbox" id="remember-me" [(ngModel)]="rememberMe" name="rememberMe">
          <label for="remember-me">Remember me</label>
        </div>
        <div class="pass-link">
          <a (click)="navigateToForgotPassword()">Forgot password?</a>
        </div>

      </div>
      <div id="g_id_onload" data-client_id="254236285413-grvq8s211cgr6kpnvl0e2l5qrt87vccs.apps.googleusercontent.com"
        data-context="signin" data-ux_mode="popup" data-login_uri="http://localhost:4200/categories"
        data-itp_support="true">
      </div>

      <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="filled_blue" data-text="continue_with"
        data-size="large" data-logo_alignment="left">
      </div>

      <div class="field text-center">
        <button type="submit" class="btn btn-primary" style="font-size: 20px; padding: 10px 20px;">Login</button>
      </div>

      <div class="signup-link">
        Not a member? <a (click)="navigateToRegister()">Signup now</a>
      </div>
    </form>
  </div>
</div>