<body>
  <section class="parallax">
    <img src="assets/Homepage.png" id="bottom" alt="crafts" />
  </section>

  <section class="blog">
    <h2>Craft Your Joy</h2>
    <p>Ready to immerse yourself in the world of exquisite handcrafts and handlooms?</p>
    <p>
      Welcome to CraftedCharm, where every creation tells a unique story. Explore our curated collection of handcrafted
      wonders, each piece meticulously crafted with passion and skill. Indulge in the artistry of handlooms that weave
      tales of tradition and authenticity. CraftedCharm is not just an ecommerce website; it's your gateway to a world
      of artisanal brilliance and timeless charm. From intricately designed handcrafts to the rich textures of
      handlooms, CraftedCharm invites you to discover and celebrate the beauty of craftsmanship.
    <div class="cards">
      <div class="card">
        <img src="assets/Pot.jpeg" alt="" />
        <div class="overlay">
          <h3>Explore Exciting Handcrafts</h3>
          <p>
            Enter CraftedCharm, where handcrafted wonders and exquisite handlooms weave tales of artistry. Explore
            unique pieces that echo the soothing charm of nature. Each creation is a testament to skilled craftsmanship.
          </p>
        </div>
      </div>

      <div class="card">
        <img src="assets/Elephant.jpg" alt="" />
        <div class="overlay">
          <h3>Personalize Your Collection</h3>
          <p>
            CraftedCharm beckons the creative soul in you. Explore our curated selection and customize your collection
            of handcrafted wonders and handlooms. Immerse yourself in the artistry, shaping your unique style.
          </p>
        </div>
      </div>

      <div class="card">
        <img src="assets/handmade.jpg" alt="" />
        <div class="overlay">
          <h3>Shop with CraftedCharm</h3>
          <p>
            Experience hassle-free shopping at CraftedCharm. Browse through our handpicked handcrafts and handlooms
            collection from the comfort of your home. Discover the fusion of traditional artistry and contemporary
            style.
          </p>
        </div>
      </div>
    </div>
    <p>
      Immerse yourself in the magic of craftsmanship with CraftedCharm. Let the allure of artistry transport you to a
      world of handcrafted wonders, where each creation tells a tale of passion and skill.
    </p>
  </section>
</body>