<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<div class="footer">
  <footer class="bg-body-tertiary text-center">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #3b5998;"
          href="https://www.facebook.com/" role="button"><i class="fab fa-facebook-f"></i></a>

        <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #55acee;"
          href="https://twitter.com/" role="button"><i class="fab fa-twitter"></i></a>

        <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #dd4b39;"
          href="https://www.google.co.in/" role="button"><i class="fab fa-google"></i></a>

        <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #ac2bac;"
          href="https://www.instagram.com/" role="button"><i class="fab fa-instagram"></i></a>

        <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #0082ca;"
          href="https://www.linkedin.com/home" role="button"><i class="fab fa-linkedin-in"></i></a>
      </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-body" href="http://localhost:4200/">CraftedCharm</a>
    </div>

  </footer>
</div>