<div class="reg"
  style="background-image: url('https://wallpapercave.com/wp/wp9764009.jpg'); background-repeat: no-repeat; background-size: cover;">
  <div class="reg">
    <div class="container">
      <div class="title">CraftedCharm</div>
      <div class="content">
        <form #registrationForm="ngForm" (ngSubmit)="registerSubmit(registrationForm.value)" novalidate>
          <div class="user-details">

            <div class="input-box">
              <span class="details">FirstName</span>
              <input type="text" placeholder="Enter your Firstname" #firstName="ngModel" ngModel name="firstName"
                required>
              <div *ngIf="firstName.touched && !firstName.valid" style="color: red;">Please enter FirstName</div>
            </div>

            <div class="input-box">
              <span class="details">LastName</span>
              <input type="text" placeholder="Enter your Lastname" #lastName="ngModel" ngModel name="lastName" required>
              <div *ngIf="lastName.touched && !lastName.valid" style="color: red;">Please enter LastName</div>
            </div>

            <div class="input-box">
              <span class="details">Email</span>
              <input type="text" placeholder="Enter your email" #email="ngModel" ngModel name="emailAddress" required
                minlength="2" maxlength="30" pattern="[a-zA-Z0-9._%+-]+@gmail\.com$">
              <div *ngIf="email.touched && !email.valid" style="color: red;">
                <div *ngIf="email.hasError('required')">Please enter EmailId</div>
                <div *ngIf="email.hasError('minlength')">Email must have at least 2 characters</div>
                <div *ngIf="email.hasError('maxlength')">Email must not exceed 30 characters</div>
                <div *ngIf="email.hasError('pattern')">Please enter a valid Gmail address</div>
              </div>
            </div>

            <div class="input-box">
              <span class="details">Phone Number</span>
              <input type="text" placeholder="Enter your number" #phoneNumber="ngModel" ngModel name="phoneNumber"
                maxlength="13" required pattern="^\+91[6-9]\d{9}$">
              <div *ngIf="phoneNumber.touched && !phoneNumber.valid" style="color: red;">
                <div *ngIf="phoneNumber.hasError('required')">Please enter a phone number</div>
                <div *ngIf="phoneNumber.hasError('pattern')">Please enter a valid phone number starting with +91
                  followed by 10 digits</div>
              </div>
            </div>

            <div class="input-box">
              <span class="details">Address</span>
              <input type="text" placeholder="Enter your address" #address="ngModel" ngModel name="address" required>
              <div *ngIf="address.touched && !address.valid" style="color: red;">
                <div *ngIf="address.hasError('required')">Please enter the address</div>
              </div>
            </div>

            <div class="input-box">
              <span class="details">State</span>
              <input type="text" placeholder="Enter your state" #state="ngModel" ngModel name="state" required>
              <div *ngIf="state.touched && !state.valid" style="color: red;">
                <div *ngIf="state.hasError('required')">Please enter the state</div>
              </div>
            </div>

            <div class="input-box">
              <span class="details">Password</span>
              <input type="password" placeholder="Enter your password" #password="ngModel" ngModel name="password"
                required minlength="8" maxlength="8" required
                pattern="^(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[@$!%?&])[A-Za-z\d@$!%?&]{8,}$">
              <div *ngIf="password.touched && !password.valid" style="color: red;">
                <div *ngIf="password.hasError('required')">Please enter a password</div>
                <div *ngIf="password.hasError('pattern')">Password must contain at least 8 characters including 1
                  uppercase, 1 lowercase, 1 digit, 1 special character</div>
              </div>
            </div>

            <div class="input-box">
              <span class="details">Confirm Password</span>
              <input type="password" placeholder="Confirm your password" #confirmPassword="ngModel" ngModel
                name="confirmPassword" required minlength="8" maxlength="8" [pattern]="password.value"
                compare-to="password">
              <div *ngIf="confirmPassword.touched && !confirmPassword.valid" style="color: red;">
                <div *ngIf="confirmPassword.hasError('required')">Please confirm your password</div>
                <div *ngIf="confirmPassword.hasError('pattern')">Passwords do not match</div>
              </div>
            </div>
          </div>

          <div class="gender-details">
            <input type="radio" name="gender" id="dot-1" [(ngModel)]="gender" value="male">
            <input type="radio" name="gender" id="dot-2" [(ngModel)]="gender" value="female">
            <input type="radio" name="gender" id="dot-3" [(ngModel)]="gender" value="not mentioned">
            <span class="gender-title">Gender</span>
            <div class="category">
              <label for="dot-1">
                <span class="dot one"></span>
                <span class="gender" name="gender">Male</span>
              </label>
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="gender" name="gender">Female</span>
              </label>
              <label for="dot-3">
                <span class="dot three"></span>
                <span class="gender" name="gender">Prefer not to say</span>
              </label>
            </div>
          </div>

          <div class="input-box">
            <span class="details">Captcha</span>
            <div class="captcha-container">
              <input type="text" placeholder="Enter the captcha" #captcha="ngModel" ngModel name="captcha" required
                class="captcha-input">
              <div class="captcha-refresh-container">
                <div class="captcha">
                  {{ generatedCaptcha }}
                </div>
                <button type="button" (click)="generateCaptcha()" class="refresh-button">Refresh</button>
              </div>
              <div *ngIf="captcha.touched && !captcha.valid" style="color: red;">
                <div *ngIf="captcha.hasError('required')">Please enter the captcha</div>
                <div *ngIf="captcha.hasError('incorrect')">Incorrect captcha, please try again</div>
              </div>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Register">
          </div>
        </form>
      </div>
    </div>
  </div>
 