<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">

<body>
  <div class="Log"
    style="background-image: url('https://images.pexels.com/photos/1166644/pexels-photo-1166644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-repeat: no-repeat; background-size: cover;">
    <div class="wrapper">
      <form #userForm="ngForm" (ngSubmit)="getOtp()">
        <h2>CRAFTEDCHARM</h2>
        <div class="input-field">
          <input type="text" name="emailAddress" [(ngModel)]="formModel.emailAddress" required>
          <label>Email Address</label>
        </div>
        <button type="submit"> Send OTP</button>
      </form>

      <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
        <div class="input-field">
          <input type="text" class="form-control" placeholder="Enter OTP" name="emailAddress" #emailAddress="ngModel"
            ngModel required>
          <label>Enter OTP</label>
        </div>
        <button type="submit">Verify OTP</button>
      </form>
    </div>

  </div>
</body>