* {
    background-color: rgb(168, 189, 182);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

.box {
    width: 30%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.box:hover {
    transform: translateY(-5px);
}

.image {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
}

.image img {
    width: 90%;
    height: 650px;
    padding-top: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.image:hover img {
    transform: scale(1.1);
}

.content {
    padding: 15px;
}

h3 {
    font-size: 18px;
    margin-top: 0;
}

p {
    font-size: 15px;
    color: #666;
    margin-bottom: 0;
}