<div class="body">
  <div class="box-container">
    <div class="box" (click)="navigateToProducts()">
      <div class="image">
        <img
          src="https://irp-cdn.multiscreensite.com/c9710e65/dms3rep/multi/shop+local+small+business+gift+shop+with+handmade+products.jpg"
          alt="Clothing">
      </div>
      <div class="content">
        <h3>Fashion</h3>
        <p><b>Handmade clothing embodies the essence of artisanal craftsmanship...</b></p>
      </div>
    </div>

    <div class="box" (click)="navigateToProducts2()">
      <div class="image">
        <img src="http://www.amazinginteriordesign.com/wp-content/uploads/2015/04/fi54.jpg" alt="Home Decor">
      </div>
      <div class="content">
        <h3>Home Decor</h3>
        <p><b>Home decor is the creative expression of personal style and taste...</b></p>
      </div>
    </div>

    <div class="box" (click)="navigateToProducts3()">
      <div class="image">
        <img src="https://i.pinimg.com/originals/dc/0b/a2/dc0ba23a7360e914b09a91914de014e6.jpg" alt="Ceramic">
      </div>
      <div class="content">
        <h3>Ceramic</h3>
        <p><b>Ceramics are a class of materials that are made from inorganic...</b></p>
      </div>
    </div>
  </div>
</div>