<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<h2 align="center">Category List</h2>
<div align="center" class="container">
  <table class="table table-hover table-striped table-sm table-bordered">
    <thead>
      <tr align="center">
        <th class="bg-info text-white">CategoryId</th>
        <th class="bg-info text-white">CategoryName</th>
        <th class="bg-info text-white" align="center" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{category.categoryId}}</td>
        <td>{{category.categoryName}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteCategory(category)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-primary" (click)="editCategory(category)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><b>Update Category</b></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <table align="center">
            <tr>
              <td>ProductId</td>
              <td><input type="text" name="categoryId" [(ngModel)]="editCat.categoryId" readonly /></td>
            </tr>
            <tr>
              <td>ProductName</td>
              <td><input type="text" name="categoryName" [(ngModel)]="editCat.categoryName" /></td>
            </tr>
          </table>
        </div>

        <div class="modal-footer">
          <button type="button" (click)="updateCategory()" class="btn btn-default" data-dismiss="modal">update
            Category</button>
        </div>

      </div>
    </div>
  </div>
</div>