<body>
  <div class="wrapper">
    <div class="title">
      <form #otpForm="ngForm" (ngSubmit)="otpSubmit(otpForm.value)" novalidate>
        <div class="input-box">
          <span class="details">Enter OTP</span>
          <input type="text" placeholder="Enter OTP" #otp="ngModel" ngModel name="otp" required>
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</body>