<link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
<h3>Welcome {{emailId}}!</h3>
<h2 align="center">Order List</h2>

<div align="center" class="container">
<table class="table table-hover table-striped table-sm table-bordered">
    <thead>
        <tr align="center">
            <th class="bg-info text-white">CustomerId</th>
            <th class="bg-info text-white">OrderId</th>
            <th class="bg-info text-white">Address</th>
            <th class="bg-info text-white">ProductId</th>
            <th class="bg-info text-white">ProductName</th>
            <th class="bg-info text-white">Mobile</th>  
        </tr>
    </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{order.customer.customerId}}</td>
                <td>{{order.orderId }}</td>
                <td>{{order.customer.address }}</td>
                <td>{{order.products.productId }}</td>
                <td>{{order.products.productName }}</td>
                <td align="center">{{order.customer.phoneNumber}}</td>
            </tr>
        </tbody>
    </table>
</div>