<body>
  <div class="wrapper">
    <form #regForm="ngForm" (ngSubmit)="passwordChanged(regForm.value)" novalidate>
      <h2>RESET PASSWORD</h2>
      <div class="input-field">
        <input type="text" name="emailAddress" [value]="emailAddress" placeholder="EmailAddress"
          [(ngModel)]="emailAddress" readonly />
      </div>
      <div class="input-field">
        <input type="password" name="password" #password="ngModel" placeholder="Password" ngModel required minlength="2"
          maxlength="15" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>