<h3>Welcome {{emailId}}!</h3>
<br />
<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card my-3" style="width: 360px; height: 400px;">
          <img class="card-img-top" src="{{product.imgsrc}}" alt="Card image" (click)="onClickProduct(product)"
            style="width: 100%; height: 55%; margin-top: 5px; margin-left: 0px; transition: transform 0.3s ease-in-out;">
          <div class="card-body" style="height: 40%;">
            <h4 class="card-title" align="center" style="text-decoration: double;">{{product.pName}}</h4>
            <p class="card-text" style="margin-bottom: 5px;">{{product.description}}</p>
            <p style="margin-bottom: 5px;">{{ generateStars(product.rating) }}</p>
            <p style="margin-bottom: 5px;">
              <s class="original-price" style="margin-right: 5px;">₹{{ product.price }}</s>
              <span class="discounted-price">₹{{ calculateDiscountedPrice(product.price, product.discount) }}</span>
            </p>
            <p align="right"><button (click)="addToCart(product)"
                class="btn btn-primary add-to-cart-btn">AddToCart</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>