.body {
  background-image: url("https://www.pngmart.com/files/7/Classical-Flower-Vase-PNG-Image.png");
  background-repeat: no-repeat;
  background-size: auto 90%;
  width: auto;
}

.row {
  margin: 10vh;
  padding-right: 40px;
  padding-left: 60px;
  width: 120%;
}

h3 {
  background-color: #333;
  color: white;
  padding: 10px;
  margin: 0;
}

.container {
  padding: 20px;
}

.col-md-4 {
  margin-bottom: 20px;
}

.card {
  background-color: white;
}

.original-price {
  text-decoration: line-through;
  color: red;
}

.discounted-price {
  color: green;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.add-to-cart-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #0e0d0d;
}