.navbar {
    padding: 20px;
}

.navbar-brand img {
    max-height: 40px;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width: 992px) {
    .form-inline form .form-control {
        max-width: 300px;
    }
}