<nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top">
    <a class="navbar-brand" routerLink="">
        <img src="assets/LOGO (3).png" alt="CraftedCharm Logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active" *ngIf="!customerService.isUserLoggedIn && !customerService.isAdmin">
                <a class="nav-link btn btn-info btn-lg mr-2" routerLink="">
                    <span class="glyphicon glyphicon-home"></span> Home
                </a>
            </li>
            <li class="nav-item" *ngIf="!customerService.isUserLoggedIn && !customerService.isAdmin">
                <a class="nav-link btn btn-info btn-lg mr-2" routerLink="aboutus">AboutUs</a>
            </li>
            
            <li class="nav-item" *ngIf="!customerService.isUserLoggedIn">
                <a class="nav-link btn btn-info mr-2" routerLink="/login">Login</a>
            </li>
            <li class="nav-item" *ngIf="!customerService.isUserLoggedIn">
                <a class="nav-link btn btn-info mr-2" routerLink="/register">Register</a>
            </li>

            <li class="nav-item" *ngIf="customerService.isUserLoggedIn">
                <a class="nav-link btn btn-info mr-2" routerLink="cart">
                    <span class="fa fa-shopping-cart"></span> Cart ({{cartItems.length}})
                </a>
            </li>
            <li class="nav-item" *ngIf="customerService.isUserLoggedIn">
                <a href="#" class="btn btn-info  mr-2">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0 mx-auto" (ngSubmit)="onSubmit()">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                [(ngModel)]="searchQuery" name="searchQuery">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>