<div class="body">
  <div class="container d-flex justify-content-center">
    <div *ngIf="selectedProduct">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top" src="{{ selectedProduct.imgsrc }}" alt="{{ selectedProduct.pName }}" />
            </div>
          </div>
        </div>

        <div class="col-md-6 details-card">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">{{ selectedProduct.pName }}</h2><br /><br />
              <div class="card-text">
                <s class="original-price" style="margin-right: 5px;">₹{{selectedProduct.price }}</s>
                <span class="discounted-price"><b>Price: </b>₹{{ calculateDiscountedPrice(selectedProduct.price,
                  selectedProduct.discount) }}</span><br /><br />
                <p><b>Description:</b> {{ selectedProduct.description }}</p>
                <p><b>Rating:</b> {{ generateStars(selectedProduct.rating)}}</p>
                <p><b>Details:</b> {{ selectedProduct.details }}</p>
              </div>
              <p align="center">
                <button (click)="addToCart(selectedProduct)" class="btn btn-primary">Add To Cart</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!selectedProduct">
      <p>No product details available.</p>

      <div *ngIf="selectedProduct">
        <h2>{{ selectedProduct.name }}</h2>
        <p>Price: {{ selectedProduct.price }}</p>
        <button (click)="addToCart(selectedProduct)">Add to Cart</button>
      </div>
    </div>
  </div>
</div>