.body {
  background-image: url("https://i.pinimg.com/originals/5a/d0/47/5ad047a18772cf0488a908d98942f9bf.gif");
  background-repeat: no-repeat;
  background-size: 80vh;
  background-position: 0%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  margin-right: 30vh;
  margin-left: auto;
}

.row {
  margin-left: auto;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  height: 600px;
  margin: 60px 0;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.image-card {
  flex: 1;
}

.image-card img {
  width: 100%;
  height: auto;
}

.original-price {
  text-decoration: line-through;
  color: red;
}

.discounted-price {
  color: green;
}

.description-card {
  flex: 1;
  padding: 20px;
}

.description-card h3 {
  font-size: 1.5rem;
  color: #333;
}

.description-card .description {
  font-size: 1rem;
  color: #666;
}

.description-card .price {
  font-size: 1.5rem;
  color: #800080;
  font-weight: bolder;
  margin-top: 10px;
}

.description-card .price span {
  font-size: 1rem;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
}

.description-card .icons {
  margin-top: 20px;
}

.description-card .cart-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #800080;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.description-card .cart-btn:hover {
  background-color: #4B0082;
}